
.container{
scroll-behavior: auto;
overflow-y: scroll;
overflow: auto;
height:460px;
background-color: rgb(80, 177, 117);
}
.accord {
  padding: 5px;
  margin: 5px auto;
  text-align: left;
  align-items: right;
/* scroll-behavior: auto;
overflow-y: scroll; */
/* overflow: auto; */
border-radius: 3px;

}

.pagination{

}

.btnContainer{
  display: flex;
  justify-content:flex-start;
  margin:20px 0 0 45px;
}

.btnPageItem{
  margin-left: 5px;
}
.btnPageItem:first-child{
  margin-left: 0;
}
