header{
    background: rgb(93, 93, 187);
     margin: auto;
     /* padding: 0; */
     max-width: 100%;
     display: flex;
    justify-content: space-between;
    align-items: center;
    font:400 15px Roboto;
    text-align: center;
}
.mainHomeBtn{
    display: flex;
    justify-content: top;
    background: green;

}

.navButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background: orange;
    margin-left:100px ;

}

header ul li{
    margin-left:20px ;
}
header ul li:first-child{
    margin-left:0;
}
/* header li:first-child{
    margin-left:80px ;

} */
header a{
    color: white;
    text-decoration:none ;
    padding-top: 0px;
}

.header a:hover{
    color: rgb(56, 168, 128);
}
