.container {
  width: 100%;
  min-height: 520px;
  padding-right:5px ;
  overflow: auto;

}

.tutorProfilesInOrders{
  list-style: none;
  font: 400 15px Roboto;

}

.btnContainer{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: baseline;
}
.btnPageItem{
  padding: 0 5px 10px 0;

}
